<?xml version="1.0"?>
<robot name="convex-object">

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://asset/real-world/convex-object/convex-object.obj" scale="1 1 1"/>
      </geometry>
      <material name="color">
        <color rgba="1 0 0 1"/> <!-- Red. a: transparency. -->
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://asset/real-world/convex-object/convex-object.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="42"/> 
      <origin xyz="0 0 0"/> 
      <inertia ixx="1" iyy="1" izz="1"/> 
    </inertial>

  </link>

</robot>